[submodule "vendor/BlueMap"]
	path = vendor/BlueMap
	url = https://github.com/BlueMap-Minecraft/BlueMap
[submodule "vendor/BlueMap-LangGui"]
	path = vendor/BlueMap-LangGui
	url = https://github.com/Ding-Ding-Projects/BlueMap.git
	branch = lang-gui
[submodule "vendor/Chunker"]
	path = vendor/Chunker
	url = https://github.com/HiveGamesOSS/Chunker.git
